@import "common.color.scss";

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
html {
    font-size: 14px;
}
body{
    min-width: 960px;
    max-width: 1400px;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana,Microsoft YaHei,sans-serif;
    color: $font;
    line-height: 1.7;
}
a{
    font-size:100%;
    color: $link;
    cursor:pointer;
}
a:hover{
    color: $link-hover;
}
article{
    margin:0 auto 100px auto;
    padding:0 20px;
    width:100%;
    max-width:960px;
}
h1,h2,h3,h4,h5,h6{
    font-family: inherit;
    font-weight: 400;
}
h1{
    font-size:28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4,h5,h6{
    font-size: 16px;
}
code{
    padding:15px;
    border:1px solid $border;
    font-style:italic;
    border-radius: 5px;
    display:block;
}
pre>code{
    padding:15px;
    background-color: $code-bg ;
    border:1px solid $border;
    border-radius: 5px;
    display:block;
}
blockquote{
    padding:15px;
    font-size: 110%;
    border:1px dashed $border;
    border-radius: 5px;
}
blockquote:before{
    content: "\"";
    display:inline-block;
}
blockquote:after{
    content: "\"";
    display:inline-block;
}
button{
    padding: .5em 1em;
    font-size: 100%;
    background-color: #fff;
    border:1px solid $border;
    border-radius: 3px;
    cursor: pointer;
}
hr{
    margin-left:-2.5%;
    width:105%;
    border: none;
    border-top: 1px solid $border;
}
em{
    margin: auto .5em;
}
/* ------------------------------ common ------------------------------ */
.el{
    padding-right:.5em;
    padding-left:.5em;
    color: $element;
    background-color: $element-bg;
    border-radius: 5px;
}
.link-red{
    color: $link;
    text-decoration: underline;
    cursor: pointer;
}
.link-gray{
    text-decoration: underline;
    cursor: pointer;
}
.result-scroll{
    padding: .5em 1em;
    height: 9.5em;
    border:1px solid $border;
    overflow-y: scroll;
}
.border{
    border:1px solid $border;
}
/* ------------------------------ article structure ------------------------------ */
    /*article header*/
.ahead{
    color: #22222d;
    text-align:center;
}
.subhead{
    margin-top:-.7em;
    color: #55555d;
}
.labels{
    margin-bottom:20px;
}
.labels>label{
    margin:auto 5px;
    padding:0 .5em;
    height:1.5em;
    line-height:1.5em;
    color:#fff;
    background-color:$element;
    border-radius: .75em;
    display:inline-block;
}
    /*article content*/
.text{
    margin: 2em 2em 1.7em 2em;
}
    /*article exmaple*/
.example{
    padding:15px;
    background-color:$code-bg;
}
.example>pre>code{
    background-color: #fff;
}
    /*list*/
.list-hor-3{
    text-align: justify;
}
.list-hor-3:after{
    width: 100%;
    content: "";
    display:inline-block;
}
.list-hor-3>li{
    width:30%;
    display:inline-block;
}
.list-hor-3>li>img{
    width: 100%;
    height: auto;
}

    /*article footer*/
.afoot{
    margin-top:50px;
    padding:0 2em;
    border-top:1px dashed $border;
}