/* ----
  ----common */
$font: #55555d;
$border: #dcdcdc;
$code-bg: #f6f6f6;
$element-bg: #eee;


//Pink Theme
$link: #8b0000;
$link-hover: rgba(139,0,0,.7);
$element: #db7093;

//Blue Theme
//$link: #069;
//$link-hover: rgba(0,102,153,.7);
//$element: #39c;